#input-container {
    margin-bottom: 20px;
}

#popis {
    border: 1px solid #ccc;
    padding: 10px;
}

.osoba {
    border-bottom: 1px solid #eee;
    padding: 5px;
    position: relative;
}

.opis-unos {
    margin-top: 5px;
}

.brisanje {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
}